########################################
# API Rewrite Rules
########################################
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	########################################
	# Try to fix conflicting rewrite rules 
	# set by Wordpress etc:
	########################################
	RewriteEngine Off
	RewriteEngine On
	########################################
	# Set Rewrite Base
	########################################
	#RewriteBase /api/v1
	########################################
	# Always remove trailing slash
	########################################
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} (.+)/$
	RewriteRule ^ %1 [L,R]
	########################################
	# Statistics Rewrites
	########################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(statistics)/(entity)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)? index.php?action=$1&itemType=$2&entityType=$3&entityID=$4 [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(statistics)/(entity)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)? index.php?action=$1&itemType=$2&entityType=$3 [QSA,L]
	########################################
	# Generic URL Rewrites
	########################################
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(search|autocomplete|statistics|user|index|status)/([a-zA-Z0-9_-]+)? index.php?action=$1&itemType=$2 [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(status)/? index.php?action=$1&itemType=all [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)? index.php?action=getItem&itemType=$1&id=$2 [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9_-]+)? index.php?action=$1 [QSA]
</IfModule>