main#content {
	position: relative;
	opacity: .2;
	transition-property: opacity;
	transition-duration: 1000ms;
}

main#content.ready {
	padding: 0px;
	opacity: 1;
}

.mediaContainer {
	padding: 30px;
	min-height: calc(100vh - 50px);
	min-height: calc(var(--vh, 1vh) * 100 - 50px);
}

@media (max-width: 768px) {
	.mediaContainer {
		padding: 15px;
		min-height: calc(100vh - 50px);
		min-height: calc(var(--vh, 1vh) * 100 - 50px);
	}
}

.frametrail-body {
	position: relative;
	height: calc(100vh - 195px);
	min-height: 300px;
	width: 100%;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 300;
	font-size: 14px;
	background: var(--primary-bg-color);
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
	.frametrail-body {
		height: calc(100vh - 245px);
		height: calc(var(--vh, 1vh) * 100 - 245px);
	}
}

.frametrail-body[data-frametrail-theme="openparliamenttv"] .mainContainer:not([data-edit-mode="layout"]):not([data-edit-mode="overlays"]):not([data-edit-mode="codesnippets"]):not([data-edit-mode="annotations"]), 
.frametrail-body[data-frametrail-theme="openparliamenttv"] .loadingScreen, 
.frametrail-body[data-frametrail-theme="openparliamenttv"] .userLoginOverlay, 
.frametrail-body[data-frametrail-theme="openparliamenttv"] .titlebar:not(.editActive), 
.themeItem[data-theme="openparliamenttv"] {
	--primary-bg-color: rgba(255, 255, 255, 1);
	--secondary-bg-color: rgba(255, 255, 255, .6);
	--semi-transparent-bg-color: rgba(255, 255, 255, .8);
	--primary-fg-color: #73747C;
	--secondary-fg-color: rgba(100, 100, 100, 1);
	--semi-transparent-fg-color: rgba(80, 80, 80, .3);
	--semi-transparent-fg-highlight-color: rgba(80, 80, 80, .4);
	--semi-transparent-fg-active-color: var(--secondary-fg-color);
	--annotation-preview-bg-color: rgba(255 ,255, 255, .2);
	--highlight-color: var(--primary-fg-color);
	--tooltip-bg-color: #D8D3AD;
	--video-background-color: #fff;
}

body.darkmode .frametrail-body[data-frametrail-theme="openparliamenttv"] .mainContainer:not([data-edit-mode="layout"]):not([data-edit-mode="overlays"]):not([data-edit-mode="codesnippets"]):not([data-edit-mode="annotations"]), 
body.darkmode .frametrail-body[data-frametrail-theme="openparliamenttv"] .loadingScreen, 
body.darkmode .frametrail-body[data-frametrail-theme="openparliamenttv"] .userLoginOverlay, 
body.darkmode .frametrail-body[data-frametrail-theme="openparliamenttv"] .titlebar:not(.editActive) {
	--primary-bg-color: #303139;
    --secondary-bg-color: #404149;
    --semi-transparent-bg-color: rgba(47, 50, 58, .8); 
    --primary-fg-color: #fff; /* Texts Borders etc. */
    --secondary-fg-color: #f3f4f5; /* Secondary Texts, Borders, Editable Panels etc. */
    --semi-transparent-fg-color: rgba(255, 255, 255, .3);
    --semi-transparent-fg-highlight-color: rgba(255, 255, 255, .4);
    --semi-transparent-fg-active-color: var(--secondary-fg-color);
    --annotation-preview-bg-color: rgba(100 ,100, 100, .2);
    --highlight-color: var(--primary-fg-color);
    --tooltip-bg-color: #D8D3AD; /* Tooltips */
    --video-background-color: #000;
}

.loadingScreen {
	display: none !important;
}

#toggleAutoplayResults .slider::before {
	font-family: "frametrail-webfont";
	font-style: normal;
	font-weight: normal;
	content: '\e8a7';
	text-align: center;
	line-height: 13px;
	font-size: 10px;
} 

.frametrail-body .statusMessage:not(.error) {
	display: none !important;
}

.playerTitle {
	background: var(--primary-bg-color);
	height: auto;
	overflow: auto;
	position: relative;
	text-align: left;
	padding: 10px 14px;
	line-height: 26px;
	width: 100%;
	border: 1px solid var(--border-color);
	margin-bottom: 15px;
}

.playerTitle .partyIndicator, .customhtmlContainer .partyIndicator {
	margin: 2px 2px 2px 6px;
	padding: 0px 6px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background: transparent;
	white-space: nowrap;
}

.playerTitle .speechMeta {
	margin-bottom: 3px;
}

.playerTitle h3 {
	margin: 0px;
	font-size: 1rem;
}

.playerTabs {
	background: var(--primary-bg-color);
	height: 60px;
	position: relative;
	display: flex;
	background: transparent;
	align-items: end;
	padding: 0px;
	line-height: 26px;
	width: 100%;
	border: 0px;
}

.playerTabs .nav-tabs {
	width: 100%;
	height: 100%;
	padding: 0 12px 0 15px;
	border-bottom-color:  transparent;
}

.playerTabs .nav-tabs .nav-link {
	padding: 3px 10px;
	text-align: center;
	height: 100%;
}

.playerTabs .nav-tabs .nav-link [class^="icon-"] {
	display: block;
	font-size: 18px;
}

.playerTabs .nav-tabs .nav-link .tabTitle {
	display: block;
}

@media (min-width: 768px) and (max-width:992px) {
	.playerTabs {
		width: auto;
		height: 80px;
	}

	.playerTabs .nav-tabs .nav-link {
		padding: 9px 16px;
	}

	.playerTitle {
		margin: 0px;
		height: 70px;
	}
}
@media (min-width:992px) {
	.playerTabs {
		width: auto;
		height: 80px;
	}

	.playerTabs .nav-tabs .nav-link {
		padding: 9px 16px;
	}

    .playerTitle {
		margin: 0px;
		height: 70px;
	}
}
@media (min-width:1200px) {
    .playerTabs {
		width: auto;
		height: 80px;
	}

	.playerTabs .nav-tabs .nav-link {
		padding: 9px 16px;
	}

    .playerTitle {
		margin: 0px;
		height: 70px;
	}
}

.customhtmlContainer .partyIndicator {
	margin-left: 2px;
}

.titlebar {
	display: none !important;
}

.titlebar .playerOptions {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 600px;
	height: calc(100% - 20px);
}

@media (max-width:992px) {
	.titlebar .playerOptions {
		display: none;
	}
}

.titlebar .playerOptions .navigationOptions {
	float: right;
	width: 510px;
	height: 65px;
	box-sizing: border-box;
	margin-top: 20px;
}

.titlebar .playerOptions .navigationOptions a {
	float: left;
	position: relative;
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
	height: 100%;
	color: var(--primary-fg-color);
	overflow: hidden;
}

.titlebar .playerOptions .navigationOptions a:hover {
	color: #000;
	text-decoration: none;
}

.titlebar .playerOptions .navigationOptions a:hover:before {
	color: #000 !important;
}

.titlebar .playerOptions .navigationOptions a.prevSpeech {
	float: left;
	text-align: right;
	padding-left: 40px;
}

.titlebar .playerOptions .navigationOptions a.nextSpeech {
	float: right;
	padding-right: 40px;
}

.titlebar .playerOptions .navigationOptions a.prevSpeech:before {
	position: absolute;
	top: 50%;
	left: 26px;
	margin-top: -8px;
	font-size: 16px;
	font-family: frametrail-webfont !important;
	content: '\e8f6';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #888;
}

.titlebar .playerOptions .navigationOptions a.nextSpeech:before {
	position: absolute;
	top: 50%;
	right: 26px;
	margin-top: -8px;
	font-size: 16px;
	font-family: frametrail-webfont !important;
	content: '\e8f5';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #888;
}

.titlebar .playerOptions .downloadOptions {
	float: left;
	width: 80px;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	display: none;
}

.mainContainer {
	background-color: var(--secondary-bg-color);
}

.layoutArea, .hypervideoContainer {
	background: var(--secondary-bg-color) !important;
}

.layoutArea, .videoContainer {
	transition-duration: 0ms !important
}

.hypervideoContainer .videoContainer, .areaLeftContainer, .areaRightContainer {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.areaLeftContainer {
	border-right: 1px solid var(--border-color);
}

.areaLeftContainer .layoutAreaToggleCloseButton {
	display: none;
}

.areaRightContainer {
	border-left: 10px solid var(--secondary-bg-color);
}

.areaLeftContainer[data-size="large"] {
	flex: 0 0 50%;
	min-width: 50%;
}

@media (max-width:768px) {
    .hypervideoContainer {
		flex-direction: column;
	}
    .areaLeftContainer[data-size="large"] {
		flex: 0 0 60%;
		min-height: 60%;
		height: 60%;
	}
	.hypervideoContainer .videoContainer {
		flex: 0 0 40%;
		min-height: 40%;
		min-width: 100%;
		height: 40%;
	}
}
@media (min-width: 768) and (max-width:992px) {
	.hypervideoContainer .videoContainer {
		flex: 0 0 50%;
		min-width: 50%;
	}
}
@media (min-width:992px) {
    .areaLeftContainer[data-size="large"] {
		flex: 0 0 500px;
		min-width: 500px;
	}
}
@media (min-width:1200px) {
    .areaLeftContainer[data-size="large"] {
		flex: 0 0 600px;
		min-width: 600px;
	}
}

.layoutArea .contentViewContainer {
	background: var(--primary-bg-color);
}

.layoutArea .contentViewContainer .contentViewContents {
	top: 0px !important;
	width: 100%;
}

.layoutArea .contentViewContainer .contentViewContents::after {
	position: absolute;
	content: '';
	top: 0px;
	left: 0px;
	width: calc(100% - 20px);
	height: 0px;
	box-shadow: 0 0 5px 10px var(--secondary-bg-color);
}

.contentViewTab, .layoutArea .contentViewContainer .contentViewContents {
	background: var(--primary-bg-color) !important;
}

.layoutArea .layoutAreaTabs {
	display: none; !important;
}

.titlebarTitle  {
	font-weight: 300;
}

.layoutArea .contentViewContainer {
	width: 100% !important;
	right: 0px !important;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer {
	font-size: 1em;
	width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0px;
	margin: 0px;
	background: var(--secondary-bg-color);
	box-sizing: border-box;
}

body.darkmode .layoutArea .contentViewContainer .contentViewContents .customhtmlContainer {
	color: #D9D9D9;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .tab-content {
	padding: 0;
	border: none;
	background: transparent;
	height: calc(100% - 2px);
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer iframe {
	width: 100%;
	height: 100%;
	border: 1px solid var(--border-color);
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .tab-content .tab-pane {
	height: calc(100% - 4px);
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer span {
	margin-right: 4px;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased {
	background-color: transparent;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased:hover, .layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased.active {
	background-color: #eaebed;
	color: #000;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased::-moz-selection,
.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased::selection {
	color: #fff !important;
	background: #f39c12 !important;
}

body.darkmode .layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased:hover, body.darkmode .layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased.active {
	background-color: #686A6F;
	color: #fff;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer p[data-type="comment"] {
	padding-bottom: 6px;
	color: var(--secondary-fg-color);
	margin-bottom: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer p[data-type="comment"]::before {
	font-family: frametrail-webfont !important;
	content: '\f0e5';
	padding-right: 7px;
}

.layoutArea .contentViewContainer .contentViewContents em {
	background: var(--highlight-color);
	color: var(--primary-bg-color);
	padding: 0 2px;
    border-radius: 3px;
    font-style: normal;
}

.layoutArea .contentViewContainer .contentViewContents em + em {
    margin-left: -5px;
    padding-left: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.layoutArea[data-area="areaLeft"] .layoutAreaTabs {
	right: 37px;
}

.playerContainer .overlayTimeline {
	display: none;
}

.playerContainer .playerProgress {
	background: var(--primary-bg-color) !important;
}

.playerContainer .playerProgress .ui-slider-range {
	background-color: rgba(235, 235, 234, 0.4);
}

body.darkmode .playerContainer .playerProgress .ui-slider-range {
	background-color: rgba(154, 155, 156, 0.2);
}

.playerContainer .playerProgress .ui-slider-handle-circle {
	margin-bottom: -24px !important;
}

.hypervideoContainer .videoContainer .videoStartOverlay .playButtonBig {
	background-color: #fff;
}

.hypervideoContainer .videoContainer .videoStartOverlay .playButtonBig [class^="icon-"]::before, .hypervideoContainer .videoContainer .videoStartOverlay .playButtonBig [class*=" icon-"]::before {
	color: #444444;
}

.playerContainer .controls {
	background: transparent;
}

body.darkmode .playerContainer .controls {
	background: rgba(190, 190, 190,.2);
}