@-webkit-keyframes quote-popover-intro {
    0% {
        -webkit-transform: translateY(-3em);
        opacity: 0;
    }
    80% {
        -webkit-transform: translateY(.5em);
        opacity: 1;
    }
    to {
        -webkit-transform: translateY(0);
    }
}
@keyframes quote-popover-intro {
    0% {
        transform: translateY(-3em);
        opacity: 0;
    }
    80% {
        transform: translateY(.5em);
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}
.quote-selection-popover {
    max-width: 8em;
    pointer-events: none;
    -webkit-filter:drop-shadow(0 1px 3px rgba(0,0,0,.35));
    filter:drop-shadow(0 1px 3px rgba(0,0,0,.35));
    -webkit-animation: quote-popover-intro 0.3s;
    animation: quote-popover-intro 0.3s;
    z-index: 10001;
}
.quote-selection-popover::before {
    content: "";
    position: absolute;
    bottom: calc(100% + 1px);
    z-index: 3;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0.25em -.5em;
    border-width: 0.5em 0.5em 0;
    border-style: solid;
    border-color: #fff transparent;
}
.quote-selection-popover > ul {
    pointer-events: auto;
    list-style: none;
    padding: 0;
    margin: -.75em 0 0;
    white-space: nowrap;
    background: transparent;
    border-radius: 0.25em;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.quote-selection-popover > ul > li {
    display: inline-block;
    background: #fff;
    padding: 3px;
    border-radius: .25rem;
}
.quote-selection-popover > ul > li > button {
	background: #f39c12 !important;
    color: #fff !important;
    border: none !important;
}
.quote-selection-popover > ul > li > button.btn:focus,
.quote-selection-popover > ul > li > button.btn:hover {
    background: #f39c12 !important;
    color: #fff !important;
    font-weight: normal !important;
}
@media (pointer:coarse) {
    .quote-selection-popover {
        /*font-size: 150%*/;
    }
    .quote-selection-popover::before {
        bottom: auto;
        top: 100%;
        border-width: 0 0.5em 0.5em;
        margin-top: 0;
    }
    .quote-selection-popover > ul {
        top: 100%;
        transform: translateX(-50%);
        margin: 0.5em 0 0;
    }
}
@media (max-width:575px) {
    .quote-selection-popover {
        left: 0!important;
        right: 0!important;
        width: auto!important;
        max-width: none;
    }
    .quote-selection-popover::before {
        bottom: auto;
        top: 100%;
        border-width: 0 0.5em 0.5em;
        margin-top: 0;
    }
    .quote-selection-popover > ul {
        top: 100%;
        transform: translateX(-50%);
        margin: 0.5em 0 0;
        left: 0;
        width: 100%;
        transform: none;
        border-radius: 0;
        text-align: center;
    }
}
.quote-highlight {
	color: #333 !important;
    background: #ffeaa7 !important;
}

#quoteDisplayModal .quotePreview {
    border: 6px solid transparent;
}

#quoteDisplayModal .quotePreview:hover, #quoteDisplayModal .quotePreview.active {
    outline: 3px solid #f39c12;
    cursor: pointer;
}

#quoteDisplayModal .card {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-radius: .85714em;
    border: 1px solid #e1e8ed;
    outline-offset: -1px;
    background: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    font-size:  12px;
}

#quoteDisplayModal .card .cardMeta {
    box-sizing: border-box;
    padding: .75em;
    text-decoration: none;
}

#quoteDisplayModal .card .cardMeta .cardTitleWrapper {
    display: block;
    border-collapse: separate;
    text-align: left;
    word-wrap: break-word;
    color: #505050;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    direction: ltr;
}

#quoteDisplayModal .card .cardMeta .cardTitleWrapper .cardTitle {
    margin: 0 0 .15em;
    line-height: 18px;
    font-weight: bold;
}

#quoteDisplayModal .card .cardMeta .cardTitleWrapper .cardDescription {
    max-height: 2.6em;
    margin-top: .32333em;
    -webkit-line-clamp: 2;
    font-weight: normal;
}

#quoteDisplayModal .card .cardMeta .cardWebsite {
    margin-top: .32333em;
    overflow: hidden;
    color: #8899a6;
    text-overflow: ellipsis;
    text-transform: lowercase;
    white-space: nowrap;
}